<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Área de Trabajo - InkBloom</title>
  <link rel="stylesheet" href="css/estilos.css">
  <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
</head>
<body class="fondo-negro">
  <div class="contenedor">
    <h2 class="titulo">Edición del documento: <span th:text="${documento.titulo}"></span></h2>

    <!-- Aquí se muestra el editor con el contenido del documento -->
    <div id="editor" th:data-documento="${documento.cuerpo}" class="editor"></div>

    <div class="botones">
      <button class="boton" onclick="guardarCambios()">Guardar Cambios</button>
      <button class="boton" onclick="deshacer()">Deshacer</button>
      <button class="boton" onclick="rehacer()">Rehacer</button>
    </div>
  </div>
  <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
  <script src="js/editor.js"></script>
</body>
</html>
