<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Área de Trabajo - InkBloom</title>
  <link rel="stylesheet" href="css/estilos.css">
  <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="img/logo2.png">
</head>
<body class="fondo-negro">
  <div class="contenedor">
    <h2 class="titulo">Edición del documento: <span id="documentTitle"></span></h2>

    <!-- Aquí se muestra el editor con el contenido del documento -->
    <div id="editor" th:data-documento="${documento.cuerpo}" class="editor"></div>

    <button class="boton" onclick="exportarComoTxt()">
      <i class="fas fa-file"></i> Exportar como .bloom
  </button>
      <button class="boton" onclick="deshacer()">
        <i class="fas fa-undo"></i> Deshacer
      </button>

      <button class="boton" onclick="rehacer()">
        <i class="fas fa-redo"></i> Rehacer
      </button>
    </div>
  </div>
  <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
  <script src="js/editor.js"></script>
</body>
</html>
