<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo2.png">
    <link rel="stylesheet" href="css/documento.css">
    <title>InkBloom</title>
</head>
<body>

<header class="header">
    <div class="logo">
        <img src="img/inkbloom.png" alt="InkBloom Logo" class="logo-img">
    </div>
    <div class="titulo">
        <h1>InkBloom</h1>
    </div>
    <div>
        <a class="boton btn btn-primary" href="javascript:void(0);" id="createDocumentBtn">
            <i class="icon fas fa-file-alt"></i> Crear Documento
        </a>
    </div>
</header>
<br>

<div class="container">
    <h2>Documentos</h2>

    <div class="card">
        <h3>Documentos Actuales:</h3>
        <ul>
            <li th:each="doc : ${documentos}">
                <a th:href="@{'/documento/crear?titulo=' + ${doc.titulo}}" th:text="${doc.titulo}"></a>
            </li>
        </ul>
    </div>

    <!-- Modal -->
    <div class="modal" id="myModal">
        <div class="modal-content">
            <h3>Asignar Nombre al Documento</h3>
            <input type="text" id="documentName" class="form-control" placeholder="Ingresa el nombre del documento">
            <button class="submit" id="submitName">Aceptar</button>
            <button class="close" id="closeModal">Cerrar</button>
        </div>
    </div>

    <h3>Documento Actual:</h3>
    <div class="card">
        <h4>Title</h4>
        <p><span th:text="${documento.titulo}"></span></p>
    </div>
    <div class="card">
        <h4>Fecha de Edición</h4>
        <p><span th:text="${documento.fechaEdicion}"></span></p>
    </div>
    <div class="card">
        <h4>Cuerpo</h4>
        <p><span th:text="${documento.cuerpo}"></span></p>
    </div>
</div>

<footer class="footer">
    <p>&copy; 2024 InkBloom. Todos los derechos reservados.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/documento.js"></script>
</body>
</html>